/* TITLE*/
.titre {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* ITALIQUE (arial) */
.italic-text {
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

/* Normal Text (ARIAL) */
.normal-text {
    font-family: Arial, sans-serif;
    color: #777;
    margin-top: 10px;
}

.background-image {
    background-image: url("hell.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*classes de exeperience*/

.experience {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.experience h2{
    font-size: 20px;
    font-weight: bold;
    color: #173;
}

/*Classes de COMPETENCES*/
.competences {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.competences ul {
    list-style-type: none;
    padding: 0;
}

.competences li {
    margin: 5px 0;
}

.competences h2 {
    font-size: 20px;
    font-weight: bold;
    color: #173;
}

/* CLASSES POUR FORMATION BLOC */

.formation {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.formation h2 {
    font-size: 20px;
    font-weight: bold;
    color: #173;
}

.formation p {
    margin: 5px 0;
    font-family: Arial, sans-serif;
    color: #777;
}
